{%- assign aria_labelledby = "banner-" | append: section.id -%}
{%- assign banner_html = section.settings.banner_html -%}
{%- assign banner_images = section_blocks | where: "type", "banner_image" -%}
{%- assign banner_titles = section_blocks | where: "type", "banner_title" -%}
{%- assign banner_videos = section_blocks | where: "type", "section_video" -%}
{%- assign single_img = banner_images.first -%}
{%- assign single_video = banner_videos.first -%}
{%- assign single_video_visibility = single_video.settings.block_visibility -%}
{%- assign img_link = single_img.settings.img_link -%}

{%- capture labelledby -%}
  {%- render 'helper-labelledby-title-blocks',
    title_blocks: banner_titles -%}
{%- endcapture -%}

<section
  class="banner {{ section_margin -}}

    {%- if enable_hide_scroll %} bm-hide-scroll{% endif -%}

    {%- if enable_background and background_color != blank -%}
      {%- if enable_contain %} py-3 py-xl-5
        {%- else %} p-3 p-xl-5
      {%- endif -%}
    {%- endif -%}"

  {%- if enable_background and background_color != blank -%}
    style="background-color: {{- background_color -}};"
  {%- endif -%}

  {%- if labelledby != blank -%}
    aria-labelledby="{{- aria_labelledby -}}"
  {%- endif -%}
>
  <div
    class="banner__container

      {{- text_alignment_phone | prepend: ' ' -}}
      {{- text_alignment_tablet | prepend: ' ' -}}
      {{- text_alignment_desk | prepend: ' ' -}}
      {%- if enable_contain %} container-xl px-3{%- endif -%}"
  >
    <div
      class="banner__wrapper position-relative"
      role="banner"
    >

      {%- render 'banner-img',
        single_img: single_img,
        single_video_visibility: single_video_visibility -%}


      {%- if single_video != blank and banner_html == blank -%}

        {%- render 'bm-video',
          autoplay: single_video.settings.autoplay,
          controls: single_video.settings.controls,
          interaction: single_video.settings.interaction,
          loop: single_video.settings.loop,
          thumbnail_url: single_video.settings.thumbnail_url,
          video_id: single_video.settings.iframe_url.id,
          video_url: single_video.settings.video_url,
          video_visibility: single_video_visibility -%}

      {%- endif -%}

      {%- if banner_html == blank -%}

        {%- render 'banner-blocks',
          aria_labelledby: aria_labelledby,
          content_padding_desk: content_padding_desk,
          content_padding_phone: content_padding_phone,
          content_padding_tablet: content_padding_tablet,
          content_width_desk: content_width_desk,
          content_width_phone: content_width_phone,
          content_width_tablet: content_width_tablet,
          horiz_align_desk: horiz_align_desk,
          horiz_align_phone: horiz_align_phone,
          horiz_align_tablet: horiz_align_tablet,
          section_blocks: section_blocks,
          text_alignment_desk: text_alignment_desk,
          text_alignment_tablet: text_alignment_tablet,
          text_alignment_phone: text_alignment_phone,
          vert_align_desk: vert_align_desk,
          vert_align_phone: vert_align_phone,
          vert_align_tablet: vert_align_tablet -%}

      {%- endif -%}

      {%- if img_link != blank and banner_html == blank -%}
        <a class="banner-img__link d-block position-absolute top-0 start-0 end-0 bottom-0" href="{{- img_link -}}"></a>
      {%- endif -%}

      {%- if banner_html != blank %}{{ banner_html }}{% endif -%}
    </div>
  </div>
</section>
