{%- assign banner_img = block.settings.banner_img -%}
{%- assign content_padding_desk = block.settings.content_padding_desk -%}
{%- assign content_padding_phone = block.settings.content_padding_phone -%}
{%- assign content_padding_tablet = block.settings.content_padding_tablet -%}
{%- assign horiz_align_desk = block.settings.horiz_align_desk -%}
{%- assign horiz_align_phone = block.settings.horiz_align_phone -%}
{%- assign horiz_align_tablet = block.settings.horiz_align_tablet -%}
{%- assign vert_align_desk = block.settings.vert_align_desk -%}
{%- assign vert_align_phone = block.settings.vert_align_phone -%}
{%- assign vert_align_tablet = block.settings.vert_align_tablet -%}

{%- if bmci_url != blank -%}
  {%- assign button_pe_auto = true -%}
{%- endif -%}

<li
  class="bm-banner-item

    {%- if bmci_classes != blank -%}{{- bmci_classes | prepend: ' ' -}}{%- endif -%}
    {{- item_width_phone | prepend: ' ' | default: 'col-12' -}}
    {{- item_width_tablet | prepend: ' ' | default: 'col-sm-3' -}}
    {{- item_width_desk | prepend: ' ' | default: 'col-xl-3' -}}
    {{- item_width_max | prepend: ' ' | default: 'col-xxxl-3' -}}

    {%- if enable_item_gap != true %} ps-0 pe-0{% endif %}"
>
  <div
    class="bm-banner-item__container position-relative

      {%- if banner_img == blank %} height-100{% endif %}"

    {%- if bmci_styles != blank %}style="{{ bmci_styles }}"{% endif -%}
  >

    {%- if banner_img != blank -%}

      {%- render 'bm-image'
        bm_img: banner_img,
        bm_img_alt: banner_img.alt,
        bm_img_classes: bm_img_classes,
        bm_img_is_lazy: true,
        bm_img_wrapper_classes: "bm-img__wrapper--fixed-width",
        bm_img_widths: image_widths,
        bm_img_width: banner_img.width,
        bm_img_height: banner_img.height -%}

    {%- endif -%}

    <div
      class="bm-banner-item__content{% if banner_img != blank %} position-absolute start-0 end-0 top-0 bottom-0{% else %} height-100{% endif -%}

        {%- if bmci_url != blank %} pe-none{%- endif -%}
        {{- content_padding_phone | prepend: ' ' -}}
        {{- content_padding_tablet | prepend: ' ' -}}
        {{- content_padding_desk | prepend: ' ' -}}"
    >
      <div
        class="bm-banner-item__content-container d-flex col-12

          {%- if banner_img == blank %} height-100{% endif -%}

          {{- vert_align_phone | prepend: ' ' -}}
          {{- vert_align_tablet | prepend: ' ' -}}
          {{- vert_align_desk | prepend: ' ' -}}
          {{- horiz_align_phone | prepend: ' ' -}}
          {{- horiz_align_tablet | prepend: ' ' -}}
          {{- horiz_align_desk | prepend: ' ' -}}"
      >
        <div class="bm-banner-item__content-wrapper">

          {%- render 'bm-banner-item-positions',
            block: block,
            button_pe_auto: button_pe_auto,
            image_widths: image_widths,
            text_alignment_desk: text_alignment_desk,
            text_alignment_phone: text_alignment_phone,
            text_alignment_tablet: text_alignment_tablet -%}

        </div>
      </div>
    </div>

    {%- if bmci_url != blank -%}
      <a class="bm-banner-item__link d-block text-decoration-none position-absolute start-0 top-0 bottom-0 end-0" href="{{- bmci_url -}}"></a>
    {%- endif -%}

  </div>
</li>
