<li
  class="bm-custom-item

    {%- if bmci_classes != blank -%}{{- bmci_classes | prepend: ' ' -}}{%- endif -%}
    {{- item_width_phone | prepend: ' ' | default: 'col-12' -}}
    {{- item_width_tablet | prepend: ' ' | default: 'col-sm-3' -}}
    {{- item_width_desk | prepend: ' ' | default: 'col-xl-3' -}}
    {{- item_width_max | prepend: ' ' | default: 'col-xxxl-3' -}}"
>

  {%- render 'bm-custom-item-positions',
    block: block,
    image_widths: image_widths,
    text_alignment_desk: text_alignment_desk,
    text_alignment_phone: text_alignment_phone,
    text_alignment_tablet: text_alignment_tablet -%}

  {%- if bmci_url != blank -%}
    <a class="bm-custom-item__link d-block text-decoration-none position-absolute start-0 top-0 bottom-0 end-0" href="{{- bmci_url -}}"></a>
  {%- endif -%}

</li>
