{%- if bm_link_content != blank or bm_link_url != blank -%}

  {%- unless bm_link_url != blank -%}
    {%- assign bm_link_url = 'javascript:void(0);' -%}
  {%- endunless -%}

  <a
    href="{{- bm_link_url -}}"
    class="bm-link

      {%- if bm_link_tabindex or bm_link_tabindex == false %} tab-index{%- endif -%}

      {%- if bm_link_classes != blank -%}
        {{- bm_link_classes | prepend: ' ' -}}
      {%- endif -%}"

    role="{%- if bm_link_role != blank -%}
            {{- bm_link_role -}}
            {%- else -%}
              link
          {%- endif -%}"

    {%- comment -%}If the current pages matches the link route. then aria-current is set.{%- endcomment -%}

    {%- if bm_link.active or bm_link.current or bm_link_aria_current -%}
      aria-current="page"
    {%- endif -%}

    {%- if bm_link_tabindex or bm_link_tabindex == false -%}
      tabindex="{%- if bm_link_tabindex -%}0{%- else -%}-1{%- endif -%}"
    {%- endif -%}

    {%- if bm_link_target != blank -%}
      target="{{- bm_link_target -}}"
    {%- endif -%}

    {%- if bm_link_title != blank -%}
      title="{{- bm_link_title -}}"
    {%- endif -%}

    {%- if bm_link_styles != blank -%}
      style="{{- bm_link_styles -}}"
    {%- endif -%}
  >

    {%- if bm_link_content != blank -%}
      {{- bm_link_content -}}
      {%- elsif bm_link_title != blank -%}
        {{- bm_link_title -}}
      {%- else -%}
        {{- bm_link_url -}}
    {%- endif -%}

  </a>
{%- endif -%}

