{%- if item.original_price != item.final_price -%}
  {%- assign show_compare = true -%}
{%- endif -%}

<div class="cart-item-pricing">
  <div
    class="cart-item-pricing__container

      {%- if show_compare %} d-flex align-items-center{%- endif -%}"
  >

    {% comment %} {{item.original_price}}--{{item.final_price}} {% endcomment %}
    <div class="cart-item-pricing__price-container">
      {%- if show_compare -%}
        <span class="visually-hidden">
          {{- 'general.pricing.sale_price' | t -}}
        </span>
      {%- endif -%}

      <span
        class="cart-item-pricing__price d-block bm-colors-color-grey-50 bm-fonts fs-8 mb-3

          {%- if show_compare %} me-2 text-danger{%- endif -%}"
      >
        {%- if settings.enable_currency_code %}{{ item.final_line_price | money_with_currency }}{% else %}{{ item.final_line_price | money }}{% endif -%}
      </span>
    </div>


    {%- if show_compare -%}
      <div class="cart-item-pricing__price-compare-container">
        <span class="visually-hidden">
          {{- 'general.pricing.regular_price' | t -}}
        </span>
        <s class="cart-item-pricing__price-compare text-muted d-block bm-fonts fs-8 mb-3">
          {%- if settings.enable_currency_code %}{{ item.original_line_price | money_with_currency }}{% else %}{{ item.original_line_price | money }}{% endif -%}
        </s>
      </div>
    {%- endif -%}
  </div>
</div>
