{%- assign aria_labelledby = "banner-" | append: section.id -%}
{%- assign section_titles = section_blocks | where: "type", "section_title" -%}

{%- capture labelledby -%}
  {%- render 'helper-labelledby-title-blocks',
    title_blocks: section_titles -%}
{%- endcapture -%}

{%- if is_a_section -%}
  <section
    class="featured-product image-with-text {{ section_margin -}}

      {%- if enable_hide_scroll %} bm-hide-scroll{% endif -%}

      {%- if enable_background and background_color != blank -%}
        {%- if enable_contain %} py-3 py-xl-5
          {%- else %} p-3 p-xl-5
        {%- endif -%}
      {%- endif %}"

    {%- if enable_background and background_color != blank -%}
      style="background-color: {{ background_color }};"
    {%- endif -%}

    {%- if labelledby != blank -%}
      aria-labelledby="{{- aria_labelledby -}}"
    {%- endif -%}
  >
  {%- else -%}
    <div
      class="image-with-text {{ section_margin -}}

        {%- if enable_hide_scroll %} bm-hide-scroll{% endif -%}

        {%- if enable_background and background_color != blank -%}
          {%- if enable_contain %} py-3 py-xl-5
            {%- else %} p-3 p-xl-5
          {%- endif -%}
        {%- endif %}"

      {%- if enable_background and background_color != blank -%}
        style="background-color: {{ background_color }};"
      {%- endif -%}

      {%- if labelledby != blank -%}
        aria-labelledby="{{- aria_labelledby -}}"
      {%- endif -%}
    >
{%- endif -%}

  <div
    class="image-with-text__container

      {%- if enable_full_width == false or  enable_full_width == blank %}
        {%- if enable_background == false or enable_background == blank %} px-3{%- endif -%}
        {%- if enable_contain %} container-xl px-3{%- endif -%}
      {%- endif -%}"
  >

    {%- render 'featured-product-main',
      aria_labelledby: aria_labelledby,
      autoplay: autoplay,
      controls: controls,
      enable_background: enable_background,
      enable_contain: enable_contain,
      enable_full_width: enable_full_width,
      enable_image_zoom: enable_image_zoom,
      enable_text_section_styles: enable_text_section_styles,
      enable_thumbnail_gallery: enable_thumbnail_gallery,
      featured_product: featured_product,
      horiz_align_desk: horiz_align_desk,
      horiz_align_phone: horiz_align_phone,
      horiz_align_tablet: horiz_align_tablet,
      iframe_url: iframe_url,
      img_breakpoint_pos: img_breakpoint_pos,
      image_desk: image_desk,
      image_max: image_max,
      image_phone: image_phone,
      image_tablet: image_tablet,
      image_pos: image_pos,
      img_width: img_width,
      interaction: interaction,
      is_product_page: is_product_page,
      loop: loop,
      main_breakpoint: main_breakpoint,
      mp4_url: mp4_url,
      product_main: product_main,
      product_variant_selection: product_variant_selection,
      section_blocks: section_blocks,
      space_between_img_txt: space_between_img_txt,
      text_alignment_desk: text_alignment_desk,
      text_alignment_tablet: text_alignment_tablet,
      text_alignment_phone: text_alignment_phone,
      text_background: text_background,
      vert_align_desk: vert_align_desk,
      vert_align_phone: vert_align_phone,
      vert_align_tablet: vert_align_tablet,
      video_autoplay: video_autoplay,
      video_controls: video_controls,
      video_loop: video_loop
      video_thumbnail: video_thumbnail,
      video_visibility: video_visibility -%}

  </div>

{%- if is_a_section -%}
  </section>
  {%- else -%}
    </div>
{%- endif -%}
