<div
  class="accordion-item border-bottom border-color-grey-10 border-1

    {%- if first_item %} border-top{%- endif -%}"
>
  <button
    class="accordion-item__title-button bm-btn bm-btn--no-styles d-flex align-items-center justify-content-between col-12 px-0 py-4 closed-accordion"
    type="button"
    data-target="{{- data_target -}}"
    aria-controls="{{- data_target -}}"
    aria-expanded="false"
  >

    {%- render 'bm-title-block',
      enable_title_styles: enable_title_styles,
      title_classes: "mb-0",
      title_color: title_color,
      title_content: title_content,
      title_tag: "h3",
      title_size: "fs-6",
      title_weight: "fw-bold" -%}

    <span class="{% if product_reviews %}d-flex align-items-center{% else %}d-block{% endif %}">

      {%- if product_reviews -%}
        {%- assign icon_classes = "d-block ms-2" -%}
        <span class="shopify-product-reviews-badge" data-id="{{ reviewed_product.id }}"></span>
        {%- else -%}
          {%- assign icon_classes = "d-block" -%}
      {%- endif -%}

      {%- render 'bm-icon-template',
        bm_icon: "icon-chevron-up",
        bm_icon_classes: icon_classes,
        icon_classes: "d-block" -%}

    </span>

  </button>


  <div
    id="{{- data_target -}}"
    class="accordion-item__content close-accordion"
    aria-labelledby="{{- title_labelledby -}}"
    aria-hidden="true"
  >

    {%- render 'bm-message-block',
    enable_message_styles: enable_message_styles,
    message_alignment_desk: message_alignment_desk,
    message_alignment_tablet: message_alignment_tablet,
    message_alignment_phone: message_alignment_phone,
    message_classes: "mb-0 pb-4",
    message_color: message_color,
    message_content: message_content,
    message_has_html: message_has_html,
    message_italic: message_italic,
    message_size: message_size,
    message_weight: message_weight -%}

    {%- if product_reviews -%}
      <div id="shopify-product-reviews" data-id="{{ reviewed_product.id }}">{{ reviewed_product.metafields.spr.reviews }}</div>
    {%- endif -%}

  </div>
</div>
