{%- if main_breakpoint == blank -%}
  {%- assign main_breakpoint = "sm" -%}
{%- endif -%}

{%- if img_breakpoint_pos == blank -%}
  {%- assign img_breakpoint_pos = "flex-column" -%}
{%- endif -%}

{%- if image_pos == blank -%}
  {%- assign image_pos = "row" -%}
{%- endif -%}

{%- if img_width == blank -%}
  {%- assign img_width = 6 -%}
{%- endif -%}

{%- assign img_width_int = img_width | times: 1 -%}
{%- assign text_width = 12 | minus: img_width_int -%}

{%- if horiz_align_phone == blank -%}
  {%- assign horiz_align_phone = "justify-content-inherit" -%}
{%- endif -%}

{%- if horiz_align_tablet == blank -%}
  {%- assign horiz_align_tablet = "justify-content-sm-inherit" -%}
{%- endif -%}

{%- if horiz_align_desk == blank -%}
  {%- assign horiz_align_desk = "justify-content-xl-inherit" -%}
{%- endif -%}

{%- if text_alignment_phone == blank -%}
  {%- assign text_alignment_phone = "text-inherit" -%}
{%- endif -%}

{%- if text_alignment_tablet == blank -%}
  {%- assign text_alignment_tablet = "text-sm-inherit" -%}
{%- endif -%}

{%- if text_alignment_desk == blank -%}
  {%- assign text_alignment_desk = "text-xl-inherit" -%}
{%- endif -%}

{%- if vert_align_phone == blank -%}
  {%- assign vert_align_phone = "align-items-inherit" -%}
{%- endif -%}

{%- if vert_align_tablet == blank -%}
  {%- assign vert_align_tablet = "align-items-sm-inherit" -%}
{%- endif -%}

{%- if vert_align_desk == blank -%}
  {%- assign vert_align_desk = "align-items-xl-inherit" -%}
{%- endif -%}

{%- if space_between_img_txt == blank -%}
  {%- assign space_between_img_txt = 5 -%}
{%- endif -%}

{%- if image_desk != blank and image_phone != blank -%}
  {%- assign current_desk_image = image_desk -%}
  {%- assign current_phone_image = image_phone -%}
  {%- else -%}
    {%- assign current_desk_image = featured_product -%}
    {%- assign current_phone_image = featured_product -%}
{%- endif -%}

<div class="d-flex {{ img_breakpoint_pos }} flex-{{ main_breakpoint }}-{{ image_pos -}}">

  {%- if enable_thumbnail_gallery -%}

    <div class="image-with-text__images {{ video_controls }}--video_controls col-12 col-{{ main_breakpoint }}-{{ img_width -}}">

      {%- render 'bm-thumbnail-gallery',
        enable_image_zoom: enable_image_zoom,
        media_array: product.media,
        video_autoplay: video_autoplay,
        video_controls: video_controls,
        video_loop: video_loop -%}

    </div>

    {%- else -%}

      {%- render 'featured-product-images',
        autoplay: autoplay,
        controls: controls,
        enable_image_zoom: enable_image_zoom,
        interaction: interaction,
        iframe_url: iframe_url,
        image_desk: current_desk_image,
        image_phone: current_phone_image,
        img_width: img_width,
        loop: loop,
        main_breakpoint: main_breakpoint,
        mp4_url: mp4_url,
        video_thumbnail: video_thumbnail,
        video_visibility: video_visibility -%}

  {%- endif -%}

  {%- render 'featured-product-blocks',
    aria_labelledby: aria_labelledby,
    enable_background: enable_background,
    enable_contain: enable_contain,
    enable_full_width: enable_full_width,
    enable_text_section_styles: enable_text_section_styles,
    featured_product: featured_product,
    horiz_align_desk: horiz_align_desk,
    horiz_align_phone: horiz_align_phone,
    horiz_align_tablet: horiz_align_tablet,
    img_breakpoint_pos: img_breakpoint_pos,
    image_pos: image_pos,
    is_product_page: is_product_page,
    main_breakpoint: main_breakpoint,
    product_main: product_main,
    product_variant_selection: product_variant_selection,
    section_blocks: section_blocks,
    space_between_img_txt: space_between_img_txt,
    text_alignment_desk: text_alignment_desk,
    text_alignment_tablet: text_alignment_tablet,
    text_alignment_phone: text_alignment_phone,
    text_background: text_background,
    text_width: text_width,
    vert_align_desk: vert_align_desk,
    vert_align_phone: vert_align_phone,
    vert_align_tablet: vert_align_tablet -%}

</div>
