{%- assign show_phone_image = true -%}
{%- assign show_desk_image = true -%}

{%- if iframe_url != blank or mp4_url != blank -%}
  {%- assign show_video = true -%}

  {%- if video_visibility contains "d-block" -%}
    {%- assign show_phone_image = false -%}
  {%- endif -%}

  {%- if video_visibility == "d-block" or video_visibility contains "d-sm-block" -%}
    {%- assign show_desk_image = false -%}
  {%- endif -%}

{%- endif -%}

<div class="image-with-text__images col-12 col-{{ main_breakpoint }}-{{ img_width -}}">

  {%- if show_video -%}

    {% if video_thumbnail != blank %}
      {%- assign thumbnail_url = video_thumbnail | img_url: 'master' -%}
    {% endif %}

    {%- render 'bm-video',
      autoplay: autoplay,
      controls: controls,
      interaction: interaction,
      loop: loop,
      modal: false,
      thumbnail_url: thumbnail_url,
      video_id: iframe_url.id,
      video_url: mp4_url,
      video_visibility: video_visibility -%}

  {%- endif -%}

  {%- if show_phone_image -%}

    {%- if disable_lazy %}
      {%- assign is_lazy = false -%}

      {%- capture bm_img_srcset -%}
        {{ image_phone | image_url: width: 360 }} 360w,
        {{ image_phone | image_url: width: 540 }} 540w
      {%- endcapture -%}
      {%- else -%}
        {%- assign is_lazy = true -%}
        {%- assign bm_img_srcset = "" -%}
    {%- endif -%}

    {%- render 'bm-image'
      bm_img: image_phone,
      bm_img_alt: image_phone.alt,
      bm_img_is_lazy: is_lazy,
      bm_img_wrapper_classes: "bm-img__wrapper--fixed-width d-block d-sm-none",
      bm_img_widths: "540",
      bm_img_width: image_phone.width,
      bm_img_height: image_phone.height,
      bm_img_srcset: bm_img_srcset -%}

  {%- endif -%}


  {%- if show_desk_image -%}

    {%- if disable_lazy %}
      {%- assign is_lazy = false -%}

      {%- capture bm_img_srcset -%}
        {{ image_desk | image_url: width: 540 }} 540w,
        {{ image_desk | image_url: width: 720 }} 720w,
        {{ image_desk | image_url: width: 900 }} 900w,
        {{ image_desk | image_url: width: 1728 }} 1728w
      {%- endcapture -%}
      {%- else -%}
        {%- assign is_lazy = true -%}
        {%- assign bm_img_srcset = "" -%}
    {%- endif -%}

    {%- render 'bm-image'
      bm_img: image_desk,
      bm_img_alt: image_desk.alt,
      bm_img_is_lazy: is_lazy,,
      bm_img_wrapper_classes: "bm-img__wrapper--fixed-width d-none d-sm-block",
      bm_img_widths: "540,720,900,1728",
      bm_img_width: image_desk.width,
      bm_img_height: image_desk.height,
      bm_img_srcset: bm_img_srcset -%}

  {%- endif -%}

</div>
