<div class="item-list__item-number me-3 me-sm-4

      {%- if number_font != blank %} {{ number_font }}{%- endif -%}

      {%- if number_size != blank %} bm-fonts {{ number_size }}{%- endif -%}

      {%- if number_weight != blank -%}{{- number_weight | prepend: ' ' -}}{%- endif -%}"

    {%- if enable_number_styles -%}
      style="
        {%- if number_color != blank -%}
          color: {{- number_color -}};
        {%- endif -%}
      "
    {%- endif -%}
>
  {{- item_number | prepend: '0' -}}
</div>
