{%- assign language_title_content = "localization.language_label" | t -%}
{%- assign formatted_language_title = language_title_content | sha1 -%}
{%- assign language_title_id = "language-" | append: formatted_language_title -%}
{%- assign country_title_content = "localization.country_label" | t -%}
{%- assign formatted_country_title = country_title_content | sha1 -%}
{%- assign country_title_id = "country-" | append: formatted_country_title -%}
{%- assign formatted_form_name = "localization-form" | sha1 -%}
{%- assign form_id = "localization-form-" | append: formatted_form_name -%}
{%- assign button_content = "general.submit" | t -%}
{%- assign show_background = false -%}
{%- if enable_background and background_color != blank -%}
  {%- assign show_background = true -%}
{%- endif -%}

<div
  class="languages-markets {{ section_margin -}}

    {%- if enable_hide_scroll %} bm-hide-scroll{% endif -%}

    {%- if show_background -%}
      {%- if enable_contain %} py-3 py-xl-5
        {%- else %} p-3 p-xl-5
      {%- endif -%}
    {%- endif -%}"

  {%- if show_background -%}
    style="background-color: {{- background_color -}};"
  {%- endif -%}
>
  <div
    class="languages-markets__container

      {%- if enable_contain %} container-xl px-3
        {%- else -%}
          {%- if show_background == false %} px-3 px-xl-5{%- endif -%}
      {%- endif -%}"
  >
    <div class="languages-markets__form col-12 col-xl-6 m-auto">

      {%- form 'localization', id: form_id, class: 'localization-form' -%}

        <div class="row">

          {%- if enable_language_form and localization.available_languages.size > 1 -%}
            <div class="col-12 col-sm-6" aria-labelledby="{{ language_title_id }}">

              {%- render 'bm-title-block',
                title_content: language_title_content,
                title_font: "ff-ivypresto",
                title_id: language_title_id,
                title_margin: "mb-3",
                title_size: "fs-3",
                title_tag: "h3" -%}

              <select
                class="d-block px-1 py-2 mb-3 col-12"
                name="locale_code"
              >

                {%- for language in localization.available_languages -%}
                  <option
                    {% if language.iso_code == localization.language.iso_code -%}
                      selected="selected"
                    {%- endif -%}

                    hreflang="{{ language.iso_code }}"
                    lang="{{ language.iso_code }}"
                    value="{{ language.iso_code }}"
                  >
                    {{- language.endonym_name | capitalize -}}
                  </option>
                {%- endfor -%}

              </select>
            </div>
          {%- endif -%}

          {%- if enable_markets_form and localization.available_countries.size > 1 -%}
            <div class="col-12 col-sm-6" aria-labelledby="{{ country_title_id }}">

              {%- render 'bm-title-block',
                title_content: country_title_content,
                title_font: "ff-ivypresto",
                title_id: country_title_id,
                title_margin: "mb-3",
                title_size: "fs-3",
                title_tag: "h3" -%}

              <select
                class="d-block px-1 py-2 mb-3 col-12"
                name="country_code"
              >

                {%- for country in localization.available_countries -%}
                  <option
                    {% if country.iso_code == localization.country.iso_code -%}
                      selected="selected"
                    {%- endif -%}

                    value="{{ country.iso_code }}"
                  >
                    {{ country.name }} - {{ country.currency.iso_code }} - {{ country.currency.symbol }}
                  </option>
                {%- endfor -%}

              </select>
            </div>
          {%- endif -%}

        </div>

        {%- render 'bm-btn-template',
          button_size: "large",
          button_type: "submit"
          button_classes: "",
          button_content: button_content,
          button_template: "primary" -%}

      {%- endform -%}

    </div>
  </div>
</div>
