<tr class="text-nowrap">
  <td colspan="4">
    {{- 'order.subtotal' | t -}}
  </td>
  <td>
    {{- order.line_items_subtotal_price | money -}}
  </td>
</tr>

{%- if order.cart_level_discount_applications != blank -%}
  <tr class="text-nowrap">

    {%- for discount_application in order.cart_level_discount_applications -%}
      <td colspan="4">
        <span>
          {{- 'order.discount' | t -}}
        </span>

        <span>
          {{- discount_application.title -}}
        </span>
      </td>
      <td>
        {{- discount_application.total_allocated_amount | money -}}
      </td>
    {%- endfor -%}

  </tr>
{%- endif -%}

{%- for shipping_method in order.shipping_methods -%}
  <tr class="text-nowrap">
    <td colspan="4">
      {{- 'order.shipping' | t }} ({{- shipping_method.title -}})
    </td>
    <td>
      {{- shipping_method.price | money -}}
    </td>
  </tr>
{%- endfor -%}

{%- for tax_line in order.tax_lines -%}
  <tr class="text-nowrap">
    <td colspan="4">
      {{- 'order.tax' | t }} ({{- tax_line.title }} {{ tax_line.rate | times: 100 -}}%)
    </td>
    <td>
      {{- tax_line.price | money -}}
    </td>
  </tr>
{%- endfor -%}

<tr class="text-nowrap">
  <td colspan="4">
    {{- 'order.total' | t -}}
  </td>
  <td>
    {{- order.total_price | money }} {{ order.currency -}}
  </td>
</tr>
