<div id="bm-register-form" class="bm-register-form" aria-labelledby="{{ title_id }}">

  {%- form 'create_customer', novalidate: 'novalidate' -%}

    {%- if form.errors -%}
      {{ form.errors | default_errors }}
    {%- endif -%}

    <div class="field-group mb-3">
      <div class="field-group-wrapper">
        <input
          type="text"
          class="px-2 py-3 mb-3 border-very-light-brown col-12 field"
          name="customer[first_name]"
          aria-label="{{ 'register.first_name' | t }}"
          placeholder="{{ 'register.first_name' | t }}"
        />

        <input
          type="text"
          class="px-2 py-3 mb-3 border-very-light-brown col-12 field"
          name="customer[last_name]"
          aria-label="{{ 'register.last_name' | t }}"
          placeholder="{{ 'register.last_name' | t }}"
        />

        <input
          type="email"
          class="px-2 py-3 mb-3 border-very-light-brown col-12 field"
          name="customer[email]"
          aria-label="{{ 'general.email' | t }}"
          autocorrect="off"
          autocapitalize="off"
          autocomplete="email"
          placeholder="{{ 'general.email' | t }}"
        >

        <input
          type="password"
          class="px-2 py-3 border-very-light-brown col-12 field"
          name="customer[password]"
          aria-label="{{ 'general.password' | t }}"
          autocomplete="current-password"
          placeholder="{{ 'general.password' | t }}"
        >
      </div>
    </div>

    {%- assign submit_button_content = 'general.submit' | t -%}

    <div class="register-form__actions">
      <div class="mb-3">

        {%- render 'bm-btn-template',
          button_size: "large",
          button_classes: "col-12",
          button_content: submit_button_content,
          button_template: "primary",
          button_type: "submit" -%}

      </div>
    </div>

  {%- endform -%}

</div>
