<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1">
<meta name="theme-color" content="#ffffff">
<link rel="canonical" href="{{ canonical_url }}">
<link rel="preconnect" href="https://cdn.shopify.com" crossorigin>

{%- if settings.favicon != blank -%}
  <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
{%- endif -%}

{%- render 'theme-fonts' -%}

<title>
  {{- page_title -}}

  {%- if current_tags != blank -%}
    {%- assign meta_tags = current_tags | join: ', ' -%}
    {{- 'head.tags' | t: tags: meta_tags | prepend: ' &ndash; ' -}}
  {%- endif -%}

  {%- if current_page != 1 -%}
    {{- 'head.page' | t: page: current_page | prepend: ' &ndash; ' -}}
  {%- endif -%}

  {%- unless page_title contains shop.name -%}
    {{- shop.name | prepend: ' &ndash; ' -}}
  {%- endunless -%}

</title>

{%- if page_description -%}
  <meta name="description" content="{{ page_description | escape }}">
{%- endif -%}

{%- render 'theme-meta-tags' -%}
