<div class="mm-modal mm-slide" id="atc-modal" aria-hidden="true">
  <div class="mm-modal__overlay d-flex align-items-center justify-content-center position-fixed top-0 start-0 bottom-0 end-0 z-level-9" tabindex="-1" data-micromodal-close>
    <div class="mm-modal__container bm-atc__modal-container bg-white rounded-3 overflow-auto p-3" role="dialog" aria-modal="true" aria-labelledby="atc-modal-title">
      <header class="d-flex align-items-center justify-content-between">
        <h2 class="d-flex align-items-center m-0 fs-6" id="atc-modal-title">
          {%- render 'bm-icon-template', bm_icon: "icon-checkmark-fill", bm_icon_classes: "d-block bm-colors-color-brown ", icon_classes: "d-block bm-icon__size--regular mm-modal__readable" -%}
          <span class="ms-1 mm-modal__readable">{{ "features.atc.added" | t }}</span>
        </h2>
        <button class="bm-btn--no-styles cursor-pointer p-2" aria-label="Close modal" data-micromodal-close>
          {%- render 'bm-icon-template', bm_icon: "icon-close-lg", bm_icon_classes: "d-block pe-none mm-modal__readable", icon_classes: "d-block" -%}
        </button>
      </header>
      <main class="mm-modal-content py-3" id="atc-modal-content">
      </main>
      <footer class="row">
        {%- assign view_bag = "features.atc.view_bag" | t -%}
        {%- assign checkout = "features.atc.checkout" | t -%}

        <div class="button-block mb-2 mb-sm-0 col-12 col-sm-6">

          {%- render 'bm-btn-template',
            button_attributes: button_attributes,
            button_classes: "mm-modal__btn",
            button_content: view_bag,
            button_route: routes.cart_url,
            button_size: "large",
            button_template: "primary",
            button_radius: "rounded-5" -%}

        </div>

        <div class="button-block mb-2 mb-sm-0 col-12 col-sm-6">

          {%- render 'bm-btn-template',
            button_attributes: button_attributes,
            button_classes: "mm-modal__btn",
            button_content: checkout,
            button_route: "/checkout",
            button_size: "large",
            button_template: "primary",
            button_radius: "rounded-5" -%}

        </div>

      </footer>
    </div>
  </div>
</div>

<div class="mm-modal mm-slide" id="bm-error-modal" aria-hidden="true">
  <div class="mm-modal__overlay d-flex align-items-center justify-content-center position-fixed top-0 start-0 bottom-0 end-0 z-level-9" tabindex="-1" data-micromodal-close>
    <div class="mm-modal__container bm-atc__modal-container bg-white rounded-3 overflow-auto p-3" role="dialog" aria-modal="true" aria-labelledby="bm-error-modal-title">
      <header class="d-flex align-items-center justify-content-between">
        <h2 class="d-flex align-items-center m-0 fs-6" id="bm-error-modal-title">
          {%- render 'bm-icon-template', bm_icon: "icon-warning", bm_icon_classes: "d-block bm-colors-color-brown ", icon_classes: "d-block bm-icon__size--regular mm-modal__readable" -%}
          <span class="ms-1 mm-modal__readable">{{ "general.error" | t }}</span>
        </h2>
        <button class="bm-btn--no-styles cursor-pointer p-2" aria-label="Close modal" data-micromodal-close>
          {%- render 'bm-icon-template', bm_icon: "icon-close-lg", bm_icon_classes: "d-block pe-none mm-modal__readable", icon_classes: "d-block" -%}
        </button>
      </header>
      <main class="mm-modal-content py-3" id="bm-error-modal-content">
      </main>
    </div>
  </div>
</div>

<div class="mm-modal mm-slide" id="bm-video-modal" aria-hidden="true">
  <div class="mm-modal__overlay d-flex align-items-center justify-content-center position-fixed top-0 start-0 bottom-0 end-0 z-level-9" tabindex="-1" data-micromodal-close>
    <div class="mm-modal__container bg-white rounded-3 overflow-auto p-3 col-12 col-sm-8" role="dialog" aria-modal="true" aria-labelledby="bm-video-modal-title">
      <header class="d-flex align-items-center justify-content-between">
        <button class="bm-btn--no-styles cursor-pointer p-2" aria-label="Close modal" data-micromodal-close>
          {%- render 'bm-icon-template', bm_icon: "icon-close-lg", bm_icon_classes: "d-block pe-none mm-modal__readable", icon_classes: "d-block" -%}
        </button>
      </header>
      <main class="mm-modal-content" id="bm-video-modal-content">
      </main>
    </div>
  </div>
</div>

<div class="mm-modal mm-slide" id="bm-zoom-modal" aria-hidden="true">
  <div class="mm-modal__overlay d-flex align-items-center justify-content-center position-fixed top-0 start-0 bottom-0 end-0 z-level-9" tabindex="-1" data-micromodal-close>
    <div class="mm-modal__container bg-white rounded-3 overflow-auto p-3 col-12 col-sm-10" role="dialog" aria-modal="true" aria-labelledby="bm-zoom-modal-title">
      <header class="d-flex align-items-center justify-content-between">
        <button class="bm-btn--no-styles cursor-pointer p-2" aria-label="Close modal" data-micromodal-close>
          {%- render 'bm-icon-template', bm_icon: "icon-close-lg", bm_icon_classes: "d-block pe-none mm-modal__readable", icon_classes: "d-block" -%}
        </button>
      </header>
      <main class="mm-modal-content" id="bm-zoom-modal-content">
      </main>
    </div>
  </div>
</div>

<div class="mm-modal mm-slide" id="bm-generic-modal" aria-hidden="true">
  <div class="mm-modal__overlay d-flex align-items-center justify-content-center position-fixed top-0 start-0 bottom-0 end-0 z-level-9" tabindex="-1" data-micromodal-close>
    <div class="mm-modal__container bg-white rounded-3 overflow-auto p-3" role="dialog" aria-modal="true" aria-labelledby="bm-generic-modal-title">
      <header class="d-flex align-items-center justify-content-between">
        <button class="bm-btn--no-styles cursor-pointer p-2" aria-label="Close modal" data-micromodal-close>
          {%- render 'bm-icon-template', bm_icon: "icon-close-lg", bm_icon_classes: "d-block pe-none mm-modal__readable", icon_classes: "d-block" -%}
        </button>
      </header>
      <main class="mm-modal-content" id="bm-generic-modal-content">
      </main>
    </div>
  </div>
</div>

{%- if settings.quick_view == "quick_view" -%}
  <div class="mm-modal mm-slide" id="quick-view-modal" aria-hidden="true">
    <div class="mm-modal__overlay d-flex align-items-center justify-content-center position-fixed top-0 start-0 bottom-0 end-0 z-level-9" tabindex="-1" data-micromodal-close>
      <div class="mm-modal__container bm-product-quick-view__modal-container bg-white rounded-3 overflow-auto p-3" role="dialog" aria-modal="true" aria-labelledby="quick-view-modal-title">
        <header class="d-flex align-items-center justify-content-between">
          <h2 class="d-flex align-items-center m-0" id="quick-view-modal-title">
            <span class="mm-modal__readable">{{ "features.atc.quick_view" | t }}</span>
          </h2>
          <button class="bm-btn--no-styles cursor-pointer p-2" aria-label="Close modal" data-micromodal-close>
            {%- render 'bm-icon-template', bm_icon: "icon-close-lg", bm_icon_classes: "d-block pe-none", icon_classes: "d-block mm-modal__readable" -%}
          </button>
        </header>
        <main class="mm-modal-content py-3" id="quick-view-modal-content">
        </main>
        <footer class="d-flex flex-column flex-sm-row align-items-center justify-content-center justify-content-sm-between">
          <button class="bm-btn--no-styles cursor-pointer text-decoration-underline mb-1 mb-sm-0 mm-modal__readable" data-micromodal-close aria-label="Close this dialog window">{{ "actions.continue_shopping" | t | downcase }}</button>

          <div class="d-block d-sm-flex align-items-center justify-content-between">
            <a href="{{ routes.cart_url }}" class="bm-btn d-flex align-items-center justify-content-center rounded-5 bm-btn--secondary bm-btn--medium opacity-hover mb-1 mb-sm-0 mm-modal__readable">{{ "actions.view_bag" | t }}</a>
            <a href="/checkout" class="bm-btn d-flex align-items-center justify-content-center rounded-5 bm-btn--primary bm-btn--medium opacity-hover ms-sm-2 mm-modal__readable">{{ "actions.checkout" | t }}</a>
          </div>
        </footer>
      </div>
    </div>
  </div>
{%- endif -%}
