<ul
  id="{{ data_target }}"
  class="sub-navigation__list sub-menu-one flex-wrap list-type-none border-top border-1 bm-bg-white my-0 pt-3 px-4 pb-5 position-absolute fade-opacity display-flex-toggle display-hidden"
  aria-orientation="vertical"
  aria-labelledby="{{ title_labelledby }}"
  aria-hidden="true"
  role="menu"
>

  {%- for link in parent_link.links -%}
    {%- assign bm_link_classes = "d-block bm-header__link-hover p-2 text-nowrap" -%}
    {%- assign enable_sub_menu = false -%}
    {%- assign item_classes = "col-6 d-block" -%}
    {%- assign title_content = link.title -%}
    {%- assign link_content = title_content -%}
    {%- assign link_item_attributes = false -%}

    {%- if link.levels > 0 and enable_nav_level_three -%}
      {%- assign enable_sub_menu = true -%}
    {%- endif -%}

    {%- if enable_sub_menu -%}
      {% comment %} {%- assign bm_link_classes = bm_link_classes | append: ' pe-none' -%} {% endcomment %}
      {%- assign formatted_title = title_content | sha1 -%}
      {%- assign item_classes = item_classes | append: " hover-open-button closed-hover-open cursor-pointer bm-header__item-hover position-relative" -%}
      {%- assign title_labelledby = "sub-mnu-two-ttl-" | append: formatted_title -%}
      {%- assign data_target = "sub-mnu-two" | append: formatted_title -%}

      {%- capture link_item_attributes -%}
        id="{{ title_labelledby }}"
        data-target="{{ data_target }}"
        aria-controls="{{ data_target }}"
        aria-expanded="false"
      {%- endcapture -%}

      {%- capture link_content -%}

        <span class="d-flex align-items-center pe-none">

          <span>{{ title_content }}</span>

          {%- render 'bm-icon-template',
            bm_icon: "icon-chevron-down",
            bm_icon_classes: "d-block ms-1",
            icon_classes: "d-block bm-icon__size--small" -%}

        </span>

      {%- endcapture -%}
    {% endif -%}

    <li
      class="{{ item_classes }}"
      role="none"

      {%- if link_item_attributes %} {{ link_item_attributes }}{% endif -%}
    >

      {%- render 'bm-link',
        bm_link_role: "menuitem",
        bm_link_title: title_content,
        bm_link_classes: bm_link_classes,
        bm_link_url: link.url,
        bm_link_content: link_content,
        bm_link_styles: bm_link_styles -%}

      {%- if enable_sub_menu -%}

        {%- render 'header-sub-menu-two',
          bm_link_styles: bm_link_styles,
          data_target: data_target,
          parent_link: link,
          title_labelledby: title_labelledby -%}

      {%- endif -%}

    </li>

  {%- endfor -%}

</ul>
