<div
  class="d-flex d-xl-none align-items-center"
  aria-label="{{- shop.name }} Mobile Navigation"
>

  {%- capture hamburger_content -%}
    <span class="bm-hamburger__container d-block">
      <span
        class="bm-hamburger__line d-block mb-1"
        style="background-color: {{- text_color | default: '#000' -}};"
      ></span>
      <span
        class="bm-hamburger__line d-block mb-1"
        style="background-color: {{- text_color | default: '#000' -}};"
      ></span>
      <span
        class="bm-hamburger__line d-block"
        style="background-color: {{- text_color | default: '#000' -}};"
      ></span>
    </span>
  {%- endcapture -%}

  {%- capture hamburger_attributes -%}
    aria-label="{{- shop.name }} Mobile Menu Toggle"
    aria-controls="mobileMenu"
    aria-expanded="false"
    aria-haspopup="true"
  {%- endcapture -%}

  {%- render 'bm-btn-template',
    button_id: "mobileToggle",
    button_classes: 'bm-hamburger d-inline-block px-2 p-1',
    button_attributes: hamburger_attributes,
    button_content: hamburger_content,
    button_template: "no-styles" -%}

</div>
