{%- assign show_phone_image = true -%}
{%- assign show_desk_image = true -%}
{%- assign show_tablet_image = true -%}

{%- if iframe_url != blank or mp4_url != blank -%}
  {%- assign show_video = true -%}

  {%- if video_visibility contains "d-block" -%}
    {%- assign show_phone_image = false -%}
  {%- endif -%}

  {%- if video_visibility == "d-block" or video_visibility contains "d-sm-block" -%}
    {%- assign show_desk_image = false -%}
    {%- assign show_tablet_image = false -%}
  {%- endif -%}

{%- endif -%}

{%- if image_pos == "row" -%}
  {%- if img_breakpoint_pos == "flex-column" -%}
    {%- assign blocks_overlap_classes = "pb-sm-5" -%}
    {%- else -%}
      {%- assign blocks_overlap_classes = "pb-sm-5" -%}
      {%- assign overlap_classes = "col-10 col-sm-12 mgs-auto me-auto me-sm-0 -mgt-5 -mgt-sm-0" -%}
  {%- endif -%}
  {%- else -%}
    {%- if img_breakpoint_pos == "flex-column" -%}
      {%- assign blocks_overlap_classes = "pt-sm-5" -%}
      {%- assign overlap_classes = "-mgs-sm-5" -%}
      {%- else -%}
        {%- assign blocks_overlap_classes = "pt-sm-5" -%}
        {%- assign overlap_classes = "col-10 col-sm-12 mgs-auto me-auto me-sm-0 -mgt-5 -mgt-sm-0 -mgs-sm-5" -%}
    {%- endif -%}
{%- endif -%}

{%- if main_breakpoint == "xl" -%}
  {%- assign img_width_tablet = "12" -%}

  {%- if image_pos == "row" -%}
    {%- if img_breakpoint_pos == "flex-column" -%}
      {%- assign blocks_overlap_classes = "pb-xl-5" -%}
      {%- else -%}
        {%- assign blocks_overlap_classes = "pb-xl-5" -%}
        {%- assign overlap_classes = "col-10 col-xl-12 mgs-auto me-auto me-xl-0 -mgt-5 -mgt-xl-0" -%}
    {%- endif -%}
    {%- else -%}
      {%- if img_breakpoint_pos == "flex-column" -%}
        {%- assign blocks_overlap_classes = "pt-xl-5" -%}
        {%- assign overlap_classes = "-mgs-xl-5" -%}
        {%- else -%}
          {%- assign blocks_overlap_classes = "pt-xl-5" -%}
          {%- assign overlap_classes = "col-10 col-xl-12 mgs-auto me-auto me-xl-0 -mgt-5 -mgt-xl-0 -mgs-xl-5" -%}
      {%- endif -%}
  {%- endif -%}
{%- endif -%}

{%- if img_width_tablet == blank -%}
  {%- assign img_width_tablet = "6" -%}
{%- endif -%}

{%- if img_width_desk == blank -%}
  {%- assign img_width_desk = "6" -%}
{%- endif -%}

<div class="image-with-text__images col-12 col-sm-{{ img_width_tablet }} col-xl-{{ img_width_desk }}{% if enable_overlap and blocks_overlap_classes != blank %} {{ blocks_overlap_classes }}{% endif %}">
  <div class="image-with-text__images-container{% if enable_overlap and overlap_classes != blank %} {{ overlap_classes }}{% endif %}{% if enable_image_radius and img_radius != blank and img_radius > 0 %} rounded-{{ img_radius }} overflow-hidden{% endif %}">
    {%- if show_video -%}

      {% if video_thumbnail != blank %}
        {%- assign thumbnail_url = video_thumbnail | img_url: 'master' -%}
      {% endif %}

      {%- render 'bm-video',
        autoplay: autoplay,
        controls: controls,
        interaction: interaction,
        loop: loop,
        modal: false,
        thumbnail_url: thumbnail_url,
        video_id: iframe_url.id,
        video_url: mp4_url,
        video_visibility: video_visibility -%}

    {%- endif -%}

    {%- if show_phone_image -%}

      {%- render 'bm-image'
        bm_img: image_phone,
        bm_img_alt: image_phone.alt,
        bm_img_is_lazy: true,
        bm_img_wrapper_classes: "bm-img__wrapper--fixed-width d-block d-sm-none",
        bm_img_widths: "540",
        bm_img_width: image_phone.width,
        bm_img_height: image_phone.height -%}

    {%- endif -%}

    {%- if show_tablet_image -%}

      {%- render 'bm-image'
        bm_img: image_tablet,
        bm_img_alt: image_tablet.alt,
        bm_img_is_lazy: true,
        bm_img_wrapper_classes: "bm-img__wrapper--fixed-width d-none d-sm-block d-xl-none",
        bm_img_widths: "540,720,900,1728",
        bm_img_width: image_tablet.width,
        bm_img_height: image_tablet.height -%}

    {%- endif -%}

    {%- if show_desk_image -%}

      {%- render 'bm-image'
        bm_img: image_desk,
        bm_img_alt: image_desk.alt,
        bm_img_is_lazy: true,
        bm_img_wrapper_classes: "bm-img__wrapper--fixed-width d-none d-xxxl-none d-xl-block",
        bm_img_widths: "540,720,900,1728",
        bm_img_width: image_desk.width,
        bm_img_height: image_desk.height -%}

    {%- endif -%}

  </div>
</div>
