<nav class="bm-mobile-menu__main-nav d-flex flex-column flex-grow-1 position-relative">
  <ul
    class="bm-header__list my-0 ps-0 d-flex flex-column pb-3"
    aria-label="{{ shop.name }} Main Mobile Navigation"
    aria-orientation="vertical"
    role="menu"
  >
    <li class="px-3 py-4 bm-bg-brown" role="none">

      {%- render 'bm-title-block',
        title_alignment_phone: "text-center text-white",
        title_content: "Menu",
        title_font: "ff-ivypresto",
        title_id: title_id,
        title_margin: "mb-0",
        title_tag: "text",
        title_size: "fs-1" -%}

    </li>

    {%- for link in main_mobile_nav.links -%}
      {%- assign bm_link_classes = "opacity-hover text-decoration-none d-block px-3 py-3 w-50" -%}
      {%- assign title_content = link.title -%}
      {%- assign link_content = title_content -%}

      {%- if link.levels > 0 %}
        {%- assign bm_link_classes = bm_link_classes | append: ' flex-grow-1' -%}
      {% endif -%}

      <li
        role="none"
        class="bm-bdr-btm border-very-light-brown

          {%- if forloop.first %} bm-bdr-top{%- endif -%}"
      >

        {%- if link.levels > 0 %}
          <span class="d-flex align-items-center">
        {% endif -%}

        {%- render 'bm-link',
          bm_link_role: "menuitem",
          bm_link_title: title_content,
          bm_link_classes: bm_link_classes,
          bm_link_url: link.url,
          bm_link_content: link_content -%}

        {%- if link.levels > 0 -%}
          {%- assign formatted_title = title_content | sha1 -%}
          {%- assign data_target = "mobile-sub-menu-" | append: formatted_title -%}

          {%- capture button_attributes -%}
            data-target="{{ data_target }}"
            aria-controls="{{ data_target -}}"
            aria-expanded="false"
          {%- endcapture -%}

          {%- capture button_content -%}
            {%- render 'bm-icon-template',
              bm_icon: "icon-chevron-right",
              bm_icon_classes: "d-block",
              icon_classes: "d-block bm-icon__size--small" -%}
          {%- endcapture -%}

          {% comment %} {%- render 'bm-btn',
            button_attributes: button_attributes,
            button_classes: "bm-btn--no-styles p-3 w-50 pop-over-btn closed-pop-over"
            button_content: button_content -%} {% endcomment %}

            <button class="d-flex align-items-center justify-content-end bm-btn--no-styles p-3 w-50 pop-over-btn closed-pop-over" {{ button_attributes }}>
              {{- button_content -}}
            </button>

          </span>

          {%- render 'mobile-sub-menu',
            data_target: data_target,
            parent_link: link -%}

        {%- endif -%}

      </li>
    {%- endfor -%}

  </ul>
</nav>
