{%- if button_content != blank -%}
  {%- if button_radius == blank -%}
    {%- assign button_radius = "rounded-5" -%}
  {%- endif -%}

  <button
    class="bm-btn d-flex align-items-center justify-content-center {{ button_radius -}}

      {%- if button_font_size != blank or
        button_font_size_tablet != blank or
        button_font_size_desk != blank %} bm-fonts{% endif -%}

      {%- if button_font_size != blank %} {{ button_font_size }}{% endif -%}
      {%- if button_font_size_tablet != blank %} {{ button_font_size_tablet }}{% endif -%}
      {%- if button_font_size_desk != blank %} {{ button_font_size_desk }}{% endif -%}

      {%- if button_italic %} fst-italic{% endif -%}

      {%- if button_classes != blank -%}
        {{- button_classes | prepend: ' ' -}}
        {%- else %} bm-btn--regular mb-0 p-1
      {%- endif -%}"

    type="{%- if button_type != blank -%}
              {{- button_type -}}
              {%- else -%}
                button
            {%- endif -%}"

    {%- if button_id != blank -%}
      id="{{- button_id -}}"
    {%- endif -%}

    {%- if button_name != blank -%}
      name="{{- button_name -}}"
    {%- endif -%}

    {%- if button_title != blank -%}
      title="{{- button_title -}}"
    {%- endif -%}

    {%- if button_value != blank -%}
      value="{{- button_value -}}"
    {%- endif -%}

    {%- if button_styles != blank -%}
      style="{{- button_styles -}}"
    {%- endif -%}

    {%- if button_attributes != blank -%}
      {{- button_attributes -}}
    {%- endif -%}

    {%- if button_autofocus -%}
      autofocus
    {%- endif -%}

  >
    <span class="bm-btn__wrapper d-flex align-items-center justify-content-center">
      <span class="bm-btn__content d-block">
        {{- button_content -}}
      </span>
    </span>
  </button>

{%- endif -%}
