{%- liquid
  assign show_count = block.settings.show_count
  assign count = product.selected_or_first_available_variant.inventory_quantity
  if product.selected_or_first_available_variant.inventory_quantity <= block.settings.inventory_threshold
    assign inventory_under_threshold = true
    else
      assign inventory_under_threshold = false
  endif
-%}

<p class="text-uppercase{% if product.selected_or_first_available_variant.inventory_management != 'shopify' %} visibility-hidden{% endif %}" role="status">

  {%- if product.selected_or_first_available_variant.inventory_management == 'shopify' -%}

    {%- if product.selected_or_first_available_variant.inventory_quantity > 0 -%}
      {%- if inventory_under_threshold -%}
        <div class="d-flex align-items-center">
          {%- render 'bm-icon-template', bm_icon: "icon-warning", bm_icon_classes: "d-block", icon_classes: "d-block bm-icon__size--regular me-2" -%}

          {%- if show_count %}{{ 'products.low_stock_count' | t: count: count }}{% else %}{{ 'products.low_stock' | t }}{% endif -%}
        </div>

        {%- else -%}
          <div class="d-flex align-items-center">
            {%- render 'bm-icon-template', bm_icon: "icon-checkmark-fill", bm_icon_classes: "d-block", icon_classes: "d-block bm-icon__size--regular me-2" -%}

            {%- if show_count %}{{ 'products.in_stock_count' | t: count: count }}{% else %}{{ 'products.in_stock' | t }}{% endif -%}
          </div>
      {%- endif -%}

      {%- else -%}

        {%- if product.selected_or_first_available_variant.inventory_policy == 'continue' -%}
          <div class="d-flex align-items-center">
            {%- render 'bm-icon-template', bm_icon: "icon-checkmark-fill", bm_icon_classes: "d-block", icon_classes: "d-block bm-icon__size--regular me-2" -%}

            {{- 'products.in_stock' | t -}}
          </div>
          {%- else -%}
            <div class="d-flex align-items-center">
              {%- render 'bm-icon-template', bm_icon: "icon-warning", bm_icon_classes: "d-block", icon_classes: "d-block bm-icon__size--regular me-2" -%}
              {{- 'products.out_of_stock.short_message' | t -}}
            </div>
        {%- endif -%}

    {%- endif -%}

  {%- endif -%}

</p>
