{%- assign item_title = line_item.title -%}

<div>

  {%- render 'bm-link',
    bm_link_title: item_title,
    bm_link_classes: "opacity-hover text-nowrap",
    bm_link_url: line_item.product.url,
    bm_link_content: item_title -%}

</div>

{%- if line_item.line_level_discount_allocations != blank -%}
  <div class="bm-order-summary__item-discounts mb-1" aria-label="{{ 'order.discount' | t }}">
    <ul class="row list-type-none my-0 ps-1">

      {%- for discount_allocation in line_item.line_level_discount_allocations -%}

          <li>
            {{- discount_allocation.discount_application.title }} - {{ discount_allocation.amount | money -}}
          </li>

      {%- endfor -%}

    </ul>
  </div>
{%- endif -%}

{%- if line_item.fulfillment -%}
  {%- assign tracking_url = line_item.fulfillment.tracking_url -%}
  {%- assign tracking_number = line_item.fulfillment.tracking_number -%}
  {%- assign tracking_company = line_item.fulfillment.tracking_company -%}

  <div class="bm-order-summary__item-fulfillment">

    {%- assign created_at = line_item.fulfillment.created_at | date: format: 'long' -%}

    {{- 'order.fulfilled_at_html' | t: date: created_at -}}

    <div>

      {%- if tracking_url != blank and tracking_number != blank  -%}

        {%- assign track_shipment = tracking_company | append: '#' | append: tracking_number -%}

        {%- render 'bm-link',
          bm_link_title: track_shipment,
          bm_link_classes: "opacity-hover",
          bm_link_url: tracking_url,
          bm_link_content: track_shipment -%}

      {%- endif -%}

    </div>

    <div>
      {%- if line_item.variant.metafields.dda.digital or order.metafields.dda.sendowl_order_id -%}
        (<a href="https://transactions.sendowl.com/orders/shopify_return/35633?order_id={{ order.id }}&email={{ order.email }}{% if order.metafields.dda.sendowl_order_id %}&sendowl_order_id={{ order.metafields.dda.sendowl_order_id }}{% endif %}">download here</a>)
      {%- endif -%}
    </div>
  </div>
{%- endif -%}

{%- assign selling_plan_allocation = line_item.selling_plan_allocation -%}
{%- assign property_size = line_item.properties | size -%}

{%- if selling_plan_allocation != blank and property_size > 0 -%}
  <div class="bm-order-summary__item-properties ps-1">



    {%- if selling_plan_allocation != blank -%}
      <span class="d-block">
        {%- unless line_item.product.has_only_default_variant -%}
            {{- line_item.variant.title | append: ' - ' -}}
        {%- endunless -%}

        {{- selling_plan_allocation.selling_plan.name -}}
      </span>
    {%- endif -%}

    {%- if property_size > 0 -%}

      {%- for property in line_item.properties -%}
        {% assign property_first = property.first | slice: 0 %}

        {%- if property.last != blank and property_first != '_' -%}
          <span class="d-block">
            {{ property.first }}:&nbsp;

            {%- if property.last contains '/uploads/' -%}
              {%- assign property_url_title = property.last | split: '/' | last -%}

              {%- render 'bm-link',
                bm_link_title: property_url_title,
                bm_link_classes: "opacity-hover",
                bm_link_url: property.last,
                bm_link_content: property_url_title -%}

            {%- else -%}
              {{ property.last }}
            {%- endif -%}

          </span>
        {%- endif -%}

      {%- endfor -%}

    {%- endif -%}

  </div>
{%- endif -%}
