{%- assign show_background = false -%}
{%- if enable_background and background_color != blank -%}
  {%- assign show_background = true -%}
{%- endif -%}

{%- capture section_margin -%}
  {%- if section_margin_desk != blank %} {{ section_margin_desk }}{%- endif -%}
  {%- if section_margin_phone != blank %} {{ section_margin_phone }}{%- endif -%}
  {%- if section_margin_tablet != blank %} {{ section_margin_tablet }}{%- endif -%}
{%- endcapture -%}

<div
  class="bm-breadcrumbs {{ section_margin -}}

    {%- if enable_hide_scroll %} bm-hide-scroll{% endif -%}

    {%- if show_background -%}
      {%- if section_contain != 'container-none' %} py-3 py-xl-5
        {%- else %} p-3 p-xl-5
      {%- endif -%}
    {%- endif %}"

  {%- if show_background -%}
    style="background-color: {{- background_color -}};"
  {%- endif -%}

  {%- if labelledby != blank -%}
    aria-labelledby="{{- aria_labelledby -}}"
  {%- endif -%}
>
  <div
    class="bm-breadcrumbs__container

      {%- if section_contain != 'container-none' %} {{ section_contain }} px-3
        {%- else -%}
          {%- if show_background == false %} px-3 px-xl-5{%- endif -%}
      {%- endif -%}"
  >

    {%- render 'breadcrumbs-main' -%}

  </div>
</div>
