{%- if slider_scroll == "autoplay" -%}
  {%- assign autoplay = true -%}
  {%- assign autoscroll = false -%}
  {%- elsif slider_scroll == "autoscroll" -%}
    {%- assign autoplay = false -%}
    {%- assign autoscroll = true -%}
  {%- else -%}
    {%- assign autoplay = false -%}
    {%- assign autoscroll = false -%}
{%- endif -%}

<div
  class="announcement-bar

    {%- if section_margin != blank %} {{ section_margin -}}{%- endif -%}"

  {%- if background_color != blank or enable_bottom_border -%}
    {%- if border_color == blank %}{% assign border_color = "#fff" %}{% endif -%}
    style="{% if background_color != blank %}background: {{ background_color }};{% endif -%}
      {% if enable_bottom_border %}border-bottom-width: {{ border_width }}px;border-color: {{ border_color }};border-bottom-style: solid;{% endif %}"
  {%- endif -%}

  aria-label="{{ 'announcement_bar.title' | t }}"
>

  {%- if section_blocks.size > 1 and
    slider_scroll != "none" -%}

    <div
      class="splide"
      data-settings='{%- render "helper-slider-settings",
        arrows: false,
        autoplay: autoplay,
        autoscroll: autoscroll,
        pagination: false,
        rewind: rewind,
        speed: speed,
        interval: interval -%}'
    >
      <div class="splide__track">
        <ul class="splide__list">

          {%- for block in section_blocks -%}

            <li class="splide__slide">

            {%- render 'announcement-bar-item',
              background_color: block.settings.background_color,
              enable_message_styles: block.settings.enable_message_styles,
              link: block.settings.link,
              message_alignment_desk: block.settings.text_alignment_desk,
              message_alignment_tablet: block.settings.text_alignment_tablet,
              message_alignment_phone: block.settings.text_alignment_phone,
              message_color: block.settings.message_color,
              message_content: block.settings.message,
              message_font: block.settings.font_family,
              message_italic: block.settings.font_style_italic,
              message_line_height: block.settings.line_height,
              message_margin: block.settings.message_margin,
              message_size: block.settings.font_size,
              message_size_tablet: block.settings.font_size_tablet,
              message_size_desk: block.settings.font_size_desk,
              message_visibility: block.settings.message_visibility,
              message_weight: block.settings.font_weight -%}

            </li>

          {%- endfor -%}

        </ul>
      </div>
    </div>

    {%- else -%}

      {%- assign single_block = section_blocks.first -%}

      {%- render 'announcement-bar-item',
        background_color: single_block.settings.background_color,
        enable_message_styles: single_block.settings.enable_message_styles,
        link: single_block.settings.link,
        message_alignment_desk: single_block.settings.text_alignment_desk,
        message_alignment_tablet: single_block.settings.text_alignment_tablet,
        message_alignment_phone: single_block.settings.text_alignment_phone,
        message_color: single_block.settings.message_color,
        message_content: single_block.settings.message,
        message_font: single_block.settings.font_family,
        message_italic: single_block.settings.font_style_italic,
        message_line_height: single_block.settings.line_height,
        message_margin: single_block.settings.message_margin,
        message_size: single_block.settings.font_size,
        message_size_tablet: single_block.settings.font_size_tablet,
        message_size_desk: single_block.settings.font_size_desk,
        message_visibility: single_block.settings.message_visibility,
        message_weight: single_block.settings.font_weight -%}

  {%- endif -%}

</div>
