{%- if button_content != blank or button_product != blank -%}

  {%- if button_wrap_breakpoint == blank -%}
    {%- assign button_wrap_breakpoint = "sm" -%}
  {%- endif -%}

  {%- if button_two_content != blank or button_two_product != blank -%}
    {%- assign show_button_two = true -%}
    {%- assign button_classes = button_classes
      | append: ' mb-2 mb-'
      | append: button_wrap_breakpoint
      | append: '-0'
      | append: ' '
      | append: 'me-'
      | append: button_wrap_breakpoint
      | append: '-3' -%}
  {%- endif -%}

  {%- if button_three_content != blank or button_three_product != blank -%}
    {%- assign show_button_three = true -%}
    {%- assign button_two_classes = button_two_classes
      | append: ' mb-2 mb-'
      | append: button_wrap_breakpoint
      | append: '-0'
      | append: ' '
      | append: 'me-'
      | append: button_wrap_breakpoint
      | append: '-3' -%}
  {%- endif -%}

  <div
    class="button-block d-flex align-items-{{- button_wrap_breakpoint -}}-end flex-column flex-{{- button_wrap_breakpoint -}}-row

      {%- if button_alignment_phone -%}{{- button_alignment_phone | prepend: ' ' -}}{%- endif -%}

      {%- if button_alignment_tablet -%}{{- button_alignment_tablet | prepend: ' ' -}}{%- endif -%}

      {%- if button_alignment_desk -%}{{- button_alignment_desk | prepend: ' ' -}}{%- endif -%}

      {%- if button_margin != blank -%}{{- button_margin | prepend: ' ' -}}{%- endif -%}

      {%- if button_visibility != blank %}{{- button_visibility | replace: '_', ' ' | prepend: ' ' | default: 'd-flex' -}}{%- endif -%}"
  >

    {%- render 'bm-btn-template',
      button_action: button_action,
      button_attributes: button_attributes,
      button_autofocus: button_autofocus,
      button_classes: button_classes,
      button_content: button_content,
      button_font_size: button_font_size,
      button_font_size_tablet: button_font_size_tablet,
      button_font_size_desk: button_font_size_desk,
      button_text_color: button_text_color,
      button_id: button_id,
      button_name: button_name,
      button_product: button_product,
      button_product_two: button_product_two,
      button_size: button_size,
      button_size_desk: button_size_desk,
      button_size_tablet: button_size_tablet,
      button_styles: button_styles,
      button_title: button_title,
      button_template: button_template,
      button_type: button_type,
      button_radius: button_radius,
      button_route: button_route,
      button_value: button_value -%}


    {%- if show_button_two-%}

      {%- render 'bm-btn-template',
        button_action: button_two_action,
        button_attributes: button_two_attributes,
        button_autofocus: button_two_autofocus,
        button_classes: button_two_classes,
        button_content: button_two_content,
        button_font_size: button_two_font_size,
        button_font_size_tablet: button_two_font_size_tablet,
        button_font_size_desk: button_two_font_size_desk,
        button_text_color: button_two_text_color,
        button_id: button_two_id,
        button_name: button_two_name,
        button_product: button_two_product,
        button_product_two: button_two_product_two,
        button_size: button_two_size,
        button_size_tablet: button_two_size_tablet,
        button_size_desk: button_two_size_desk,
        button_styles: button_two_styles,
        button_title: button_two_title,
        button_template: button_two_template,
        button_type: button_two_type,
        button_radius: button_two_radius,
        button_route: button_two_route,
        button_value: button_two_value -%}

    {%- endif -%}

    {%- if show_button_three -%}

      {%- render 'bm-btn-template',
        button_action: button_three_action,
        button_attributes: button_three_attributes,
        button_autofocus: button_three_autofocus,
        button_classes: button_three_classes,
        button_content: button_three_content,
        button_font_size: button_three_font_size,
        button_font_size_tablet: button_three_font_size_tablet,
        button_font_size_desk: button_three_font_size_desk,
        button_text_color: button_three_text_color,
        button_id: button_three_id,
        button_name: button_three_name,
        button_product: button_three_product,
        button_product_two: button_three_product_two,
        button_size: button_three_size,
        button_size_tablet: button_three_size_tablet,
        button_size_desk: button_three_size_desk,
        button_styles: button_three_styles,
        button_title: button_three_title,
        button_template: button_three_template,
        button_type: button_three_type,
        button_radius: button_three_radius,
        button_route: button_three_route,
        button_value: button_three_value -%}

    {%- endif -%}

  </div>
{%- endif -%}
