{%- assign login_button_content = 'login_page.title' | t -%}
{%- assign submit_button_content = 'general.submit' | t -%}

<div id="bm-reset-form" class="bm-reset-form" aria-labelledby="{{ title_id }}">

  {%- form 'recover_customer_password' -%}
    {%- assign successfull_recover = form.posted_successfully? -%}
    {%- assign error_message = 'alert.error' | t -%}

    {%- if form.errors -%}
      {{ form.errors | default_errors }}
    {%- endif -%}

    {%- if successfull_recover -%}
      {%- assign form_status = "successful" -%}
      {%- elsif form.errors != blank -%}
        {%- assign form_status = "errors" -%}
      {%- else -%}
        {%- assign form_status = "none" -%}
    {%- endif -%}

    {%- if form_status != "none" -%}
      <div class="pb-2 text-center">
        <p role="status">

          {%- if successfull_recover -%}
            {{- 'recover_password.success' | t -}}
            {%- else -%}
            {{- 'recover_password.subtext' | t -}}
          {%- endif -%}

        </p>
      </div>
    {%- endif -%}

    <div class="field-group mb-3">
      <div class="field-group-wrapper">
        <input
          type="email"
          class="px-2 py-3 mb-3 border-very-light-brown col-12 field"
          name="email"
          autocorrect="off"
          autocapitalize="off"
          autocomplete="email"
          placeholder="{{ 'general.email' | t }}"
          disabled
        >
      </div>
    </div>

    <div class="bm-reset-form__actions">
      <div class="mb-3">

        {%- render 'bm-btn-template',
          button_attributes: "disabled"
          button_size: "large",
          button_classes: "col-12 disabled",
          button_content: submit_button_content,
          button_template: "primary",
          button_type: "submit" -%}

      </div>


      <div class="d-flex justify-content-center">

        {%- render 'bm-btn-template',
          button_size: "none",
          button_classes: "bm-btn__login",
          button_content: login_button_content,
          button_route: routes.account_login_url,
          button_template: "link" -%}

      </div>
    </div>

  {%- endform -%}

</div>
