{%- capture section_title -%}
  <u>{{ article.title }}</u>
{%- endcapture -%}
{%- assign article_image = article.image -%}
{%- assign date_year = article.published_at | date: '%Y' -%}
{%- assign date_month_day = article.published_at | date: '%B. %d' -%}
{%- assign share_title = "general.social.share" | t | upcase -%}

{%- assign show_background = false -%}
{%- if enable_background and background_color != blank -%}
  {%- assign show_background = true -%}
{%- endif -%}

<section class="bm-article {{ section_margin -}}">
  <div class="bm-article__container">
    <header class="bm-bg-very-light-brown px-3 pt-2 pt-sm-3 pb-4 pb-sm-5 mb-4 mb-sm-5">
      <div class="bm-article__header-container">
        <div class="d-sm-flex align-items-sm-center mb-3 mb-sm-5">
          <div class="col-12 col-sm-3 d-none d-sm-flex justify-content-sm-center">
            {{- date_month_day -}}
          </div>

          <div class="col-12 col-sm-6 d-flex justify-content-center mb-3 mb-sm-0">

            {%- render 'bm-title-block',
              title_alignment_phone: "text-center",
              title_content: section_title,
              title_font: "ff-ivypresto",
              title_margin: "mb-0",
              title_size: "fs-1 fs-sm-1-4",
              title_tag: "h1",
              title_weight: "fw-light" -%}

          </div>

          <div class="col-12 col-sm-3 d-flex justify-content-center">
            <time datetime="{{ article.published_at | date: '%Y-%m-%d' }}">
              <span class="d-sm-none">{{ date_month_day }} </span>
              <span>{{ date_year }}</span>
            </time>
          </div>
        </div>

        {%- if article_image != blank -%}
          <div class="bm-article__image">

            {%- render 'bm-image'
              bm_img: article_image,
              bm_img_alt: article_image.alt,
              bm_img_classes: bm_img_classes,
              bm_img_is_lazy: true,
              bm_img_wrapper_classes: "bm-img__wrapper--fixed-width",
              bm_img_widths: image_widths,
              bm_img_width: article_image.width,
              bm_img_height: article_image.height -%}

          </div>
        {%- endif -%}
      </div>
    </header>

    <div class="bm-article__content">
      <div class="bm-article__content-container d-sm-flex px-3 p-xl-0">
        <div class="bm-article__social d-flex d-sm-block align-items-center">

          {%- render 'bm-title-block',
            title_alignment_phone: "text-center",
            title_content: share_title,
            title_margin: "mb-0 mb-sm-2",
            title_size: "fs-8",
            title_tag: "h6" -%}

          {%- render 'social-sharing',
            classes: "align-items-center flex-row flex-sm-column",
            facebook: true,
            twitter: true,
            orientation: "verticle",
            pinterest: true -%}

        </div>

        <div class="bm-article__content-text">
          {{- article.content -}}
        </div>

        <div class="bm-article__column-right"></div>
      </div>
    </div>

  </div>
</section>








