{%- assign bm_img_wrapper_classes = "bm-img__wrapper--fixed-width" -%}

{%- if bmpi_img_contain -%}
  {%- assign bm_img_wrapper_classes = bm_img_wrapper_classes
    | append: ' position-absolute start-0 end-0 top-0 bottom-0' -%}
  {%- assign bm_img_classes = "col-12" -%}
{%- endif -%}

{%- assign favorites_list = customer.metafields.customer_fields.data.favorites_list -%}
{%- if favorites_list contains bmpi_handle -%}
  {%- assign is_wish = true -%}
  {%- else -%}
    {%- assign is_wish = false -%}
{%- endif -%}

<li
  class="bm-prod-item

    {%- if bmpi_classes != blank -%}{{- bmpi_classes | prepend: ' ' -}}{%- endif -%}
    {{- item_width_phone | prepend: ' ' | default: 'col-12' -}}
    {{- item_width_tablet | prepend: ' ' | default: 'col-sm-3' -}}
    {{- item_width_desk | prepend: ' ' | default: 'col-xl-3' -}}
    {{- item_width_max | prepend: ' ' | default: 'col-xxxl-3' -}}"
>
  <div class="bm-prod-item__container position-relative">

    {%- if settings.enable_wish_list and bmpi_wish_list -%}

      {%- capture star_content -%}
        {%- if is_wish -%}

          {%- render 'bm-icon-template',
            bm_icon: "icon-star-fill",
            bm_icon_classes: "d-block",
            icon_classes: "d-block bm-icon__size--regular text-white" -%}

          {%- else -%}

            {%- render 'bm-icon-template',
              bm_icon: "icon-star",
              bm_icon_classes: "d-block",
              icon_classes: "d-block bm-icon__size--regular text-white" -%}

        {%- endif -%}

      {%- endcapture -%}

      {%- capture button_attributes -%}
        data-customer="{% if customer != blank %}true{% else %}false{% endif %}"
        data-product='{
          "handle": {{ bmpi_product.handle | json }},
          "title": {{ bmpi_product.title | escape | json }},
          "url": {{ bmpi_product.url | json }}
        }'
        data-wish="{{ is_wish }}"
      {%- endcapture -%}

      {%- render 'bm-btn-template',
        button_classes: 'bm-btn--wish position-absolute d-block p-3',
        button_attributes: button_attributes,
        button_content: star_content,
        button_template: "no-styles" -%}

    {%- endif -%}



      {%- if bmpi_img != blank or bmpi_img_url != blank -%}

        {%- if bmpi_disable_lazy %}
          {%- assign is_lazy = false -%}

          {%- capture bm_img_srcset -%}
            {{ bmpi_img | image_url: width: 180 }} 180w,
            {{ bmpi_img | image_url: width: 360 }} 360w,
            {{ bmpi_img | image_url: width: 540 }} 540w,
            {{ bmpi_img | image_url: width: 720 }} 720w
          {%- endcapture -%}
          {%- else -%}
            {%- assign is_lazy = true -%}
            {%- assign bm_img_srcset = "" -%}
        {%- endif -%}

        <div
          class="bm-prod-item__image position-relative mb-3

            {%- if bmpi_img_contain %} bm-img__contain{%- endif -%}"
        >

          {%- render 'bm-image'
            bm_img: bmpi_img,
            bm_img_alt: bmpi_img.alt,
            bm_img_classes: bm_img_classes,
            bm_img_is_lazy: is_lazy,
            bm_img_url: bmpi_img_url,
            bm_img_wrapper_classes: bm_img_wrapper_classes,
            bm_img_widths: image_widths,
            bm_img_width: bmpi_img.width,
            bm_img_height: bmpi_img.height,
            bm_img_srcset: bm_img_srcset -%}

          {%- if settings.quick_view != "disabled" and bmpi_product.available %}{% render 'bm-quick-view', qv_product: bmpi_product %}{% endif -%}

        </div>
      {%- endif -%}

      <div
        class="bm-prod-item__details

          {%- if enable_styles and font_italic %} fst-italic{%- endif -%}

          {%- if enable_styles and font_size != blank -%}{{- font_size | prepend: ' ' -}}{%- endif -%}

          {%- if enable_styles and font_weight != blank -%}{{- font_weight | prepend: ' ' -}}{%- endif -%}"

        {%- if enable_styles %}style="color: {{ text_color }};"{% endif -%}
      >
        <div class="d-flex flex-column">

          {%- if bmpi_title != blank %}<span class="bm-prod-item__title">{{ bmpi_title }}</span>{% endif -%}

          {%- if price != blank and bmpi_available -%}

            {%- assign wsl_collection = settings.wsl_collection -%}
            {%- assign wsl_message = settings.wsl_message -%}

            {%- if wsl_collection != blank and wsl_message != blank and bmpi_product.collections contains wsl_collection -%}
              <span class="d-block mb-3 text-danger">{{ wsl_message }}</span>
            {%- endif -%}

            {%- render 'bm-prod-pricing',
              compare_price: compare_price,
              compare_price_color: compare_price_color,
              compare_price_varies: compare_price_varies,
              enable_styles: enable_styles,
              price: price,
              price_classes: price_classes,
              price_color: price_color,
              price_color_sale: price_color_sale,
              price_varies: price_varies,
              show_compare_price: show_compare_price -%}

            {%- else -%}

              <span class="bm-colors-color-grey-50">{{ 'products.out_of_stock.short_message' | t }}</span>

          {%- endif -%}

        </div>



      </div>
    <a class="bm-prod-item__link d-block text-decoration-none position-absolute top-0 start-0 end-0 bottom-0 z-level-one" href="{{ bmpi_url }}" title="{{ bmpi_title }}" aria-label="{{ bmpi_title }}"><span class="visually-hidden">{{ bmpi_title }}</span></a>
  </div>
</li>
