{%- assign show_background = false -%}
{%- if enable_background and background_color != blank -%}
  {%- assign show_background = true -%}
{%- endif -%}

{%- assign formatted_title = "bm-text-accordion" | sha1 -%}
{%- assign data_target = "accordion-" | append: formatted_title -%}

{%- if is_a_section -%}
  <section
    class="bm-text {{ section_margin -}}

      {%- if enable_hide_scroll %} bm-hide-scroll{% endif -%}

      {%- if show_background -%}
        {%- if enable_contain %} py-3 py-xl-5
          {%- else %} p-3 p-xl-5
        {%- endif -%}
      {%- endif %}"

    {%- if show_background -%}
      style="background-color: {{ background_color }};"
    {%- endif -%}
  >
  {%- else -%}
    <div
      class="bm-text {{ section_margin -}}

        {%- if enable_hide_scroll %} bm-hide-scroll{% endif -%}

        {%- if show_background -%}
          {%- if enable_contain %} py-3 py-xl-5
            {%- else %} p-3 p-xl-5
          {%- endif -%}
        {%- endif %}"

      {%- if show_background -%}
        style="background-color: {{ background_color }};"
      {%- endif -%}
    >
{%- endif -%}

  <div
    class="text__container

      {{- text_alignment_phone | prepend: ' ' -}}
      {{- text_alignment_tablet | prepend: ' ' -}}
      {{- text_alignment_desk | prepend: ' ' -}}

      {%- if enable_contain %} container-xl px-3
        {%- else -%}
          {%- if show_background == false %} px-3 px-xl-5{%- endif -%}
      {%- endif -%}"
  >
    <div
      class="text__wrapper

        {%- if enable_read_more %} accordion-item accordion-item__peak{%- endif -%}"
    >
      <div
        class="text__box

          {%- if enable_read_more %} accordion-item__content peak-accordion{%- endif -%}"

        {%- if enable_read_more -%}
          id="{{- data_target -}}"
          aria-labelledby="{{- title_labelledby -}}"
          aria-hidden="true"
          data-height="{{ peak_text }}"
        {%- endif -%}

        {%- if enable_read_more and peak_text != blank -%}
          style="height: {{ peak_text }}px;"
        {%- endif -%}
      >

        {%- render 'text-blocks',
          aria_labelledby: aria_labelledby,
          content_width_desk: content_width_desk,
          content_width_phone: content_width_phone,
          content_width_tablet: content_width_tablet,
          horiz_align_desk: horiz_align_desk,
          horiz_align_phone: horiz_align_phone,
          horiz_align_tablet: horiz_align_tablet,
          section_blocks: section_blocks,
          text_alignment_desk: text_alignment_desk,
          text_alignment_tablet: text_alignment_tablet,
          text_alignment_phone: text_alignment_phone -%}

      </div>

      {%- if enable_read_more -%}
        <button
          class="accordion-item__title-button bm-btn bm-btn--no-styles d-flex align-items-center justify-content-center col-12 px-0 py-4 closed-accordion

            {%- if button_font_size != blank %} {{ button_font_size }}{%- endif -%}"
          type="button"
          data-target="{{- data_target -}}"
          aria-controls="{{- data_target -}}"
          aria-expanded="false"

          {%- if enable_button_styles -%}
            style="color: {{ button_text_color }}"
          {%- endif -%}
        >
          <u>Read more</u>
        </button>
      {%- endif -%}
    </div>
  </div>

{%- if is_a_section -%}
  </section>
  {%- else -%}
    </div>
{%- endif -%}
